.App {
   display: flex; 
  /* align-items: center;
  justify-content: center; 
  background: white;
  height: 80vh;
  width: 60% ;
  margin: 20% auto;
  background: linear-gradient(to right bottom,
  rgba(255,255,255,0.7),
  rgba(255,255,255,0.7)); */

}
.App .container{
  flex-grow: 1;
  padding: 0 60px;
}
